/* Common rules*/

header, .container, footer {
  margin-left: 150px;
  width: 1000px;
  font-family: "Tahoma Regular", sans-serif;
  font-size: 12px;
  line-height: 24px;
}

.shadow {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}


body {
  width: 1280px;
  height: 1060px;
  background-image: url('../img/background.png');
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header*/
header {
  margin-top: 38px;
  height: 442px;
  background-color: #fff;
  border-top: 1px solid #fff;
}

.logo {
  width: 280px;
  height: 164px;
  float: left;
  margin-top: 10px;
  margin-left: 35px;
  background-image: url('../img/logo.png');
}

.tagline {
  margin: 100px 83px 53px 62px;
  color: #6eacc0;
}

.contacts {
  width: 144px;
  height: 67px;
  float: right;
  margin-top: 10px;
  margin-left: 280px;
  margin-right: 40px;
  line-height: 17px;
  color: #6eacc0;
}

.countries {
  width: 330px;
  height: 64px;
  float: right;
  margin-top: 33px;
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}

.countries li {
  text-align: center;
  float: left;
  width: 16.6%;
  height: 52px;
}

.countries a {
  font-size: 10px;
  line-height: 10px;
  color: #4b9db4;
  text-decoration: underline;
}

.photo {
  clear: both;
  width: 100%;
  height: 237px;
}

nav {
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
}

nav ul {
  background: linear-gradient(to top, #303030, #373737);
}

nav li{
  float: left;
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.submenu {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.submenu ul {
  display: none;
  position: absolute;
  margin-left: 20px;
  padding-left: 10px;
  width: 90%;
  top: 30px;
}

.submenu ul li {
  text-align: left;
  float: none;
  display: block;
  width: 100%;
}

.submenu:hover ul {
  display: block;
}

/* Container*/
h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  color: #424c43;
}

.container {
  height: 550px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}


.columns {
  width: 21%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  font-size: 14px;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  background-color: #edeef0;
}

.columns p {
  padding-left: 15px;
  padding-right: 24px;
  color: #424c43;
}

.column_left {
  float: left;
}

.column_right {
  float: right;
}

/* Footer*/
footer {
  width: 1000px;
  height: 25px;
  text-align: center;
  color: #dee7ee;
}
