/* Common rules*/
body {
  width: 1366px;
  height: 950px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
}

.main {
  margin: 0 0 0 154px;
  width: 1068px;
  height: 100%;
  border: 1px solid #fff;
  background-image: url('../img/main-bg.png');
}

.container, .footer {
  margin-left: 45px;
}

a {
  text-decoration: none;
  line-height: 40px;
}

/* Header */
.header {
  margin: 50px 48px 40px 45px;
  width: 966px;
  height: 120px;
}

.logo {
  background-image: url('../img/logo.png');
  width: 145px;
  height: 40px;
}

.menu {
  margin-top: 40px;
  height: 40px;
  background-image: url('../img/panel.png');
}

.header_menu_li {
  text-align: center;
  width: 130px;
  height: 40px;
  text-shadow: 2px 2px 3px #000;
}

.header_menu_li:hover {
  background-color: #393939;
  background-image: url('../img/header_hover.png');
  background-size: cover;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #fff;
}

/*Container*/

p {
  margin-top: 40px;
  margin-left: 24px;
  line-height: 20px;
}

.left_menu a {
  color: #656363;
}

.container {
  width: 966px;
  height: 580px;
  margin-bottom: 60px;
}

.left_menu {
  width: 240px;
  height: 240px;
  margin-right: 48px;
  float: left;
}

.left_menu li {
  padding-left: 23px;
  border-left: 1px #c8c8c8 solid;
  border-top: 1px #c8c8c8 solid;
  border-right: 1px #c8c8c8 solid;
}

.left_menu li:last-child {
  border-bottom: 1px #c8c8c8 solid
}

.left_menu li:hover {
  color: #2c2c2c;
  padding-left: 38px;
  background-color: #f9f9f9;
}

.content {
  width: 678px;
  height: 580px;
  float: left;
}

/*Footer*/
.footer {
  width: 966px;
  height: 40px;
  background-color: #e1e1e1;
}

.footer_menu_li {
  text-align: center;
  width: 130px;
}

.footer ul {
  float: left;
}

.footer li {
  display: inline-block;
}

.footer a {
  color: #2c2c2c;
}

.footer a:hover {
  text-decoration: underline;
}

.copyright {
  margin-right: 26px;
  line-height: 40px;
  height: 40px;
  float: right;
}
